.bisa{
    display: flex;
    background-color: orange;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    
}
.avo{
    display: flex;
    background-color: green;
    width: 60%;
    height: 60%;
    align-items: flex-end;
    justify-content: flex-start;

}
.pai{
    display: flex;
    background-color: rgb(0, 73, 0);
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    height: 50%;
}
.filho{
    display: flex;
    background-color: orange;
    width: 50%;
    height: 50%;
}
  