.pai{
    display: grid;
    width: 700px;
    height: 300px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: blueviolet;
    padding: 10px;
}
.item{
    background-color: white;
    border: blueviolet solid 10px;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.a{
    grid-column: 1 / span 3;
}
.b{
    grid-row: 2 / span 3;
}
.c{
    grid-row: 2;
    grid-column: 3;
}
.d{
    grid-column: 2;
    grid-row: 2;
}
.e{
    grid-column: 2 / span 3;
}