.pai{
    display: flex;
    background-color: rgb(255, 0, 251);
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.filho{
    width: 10%;
    height: 20%;
    background-color: white;
}