.container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 background-color: dodgerblue;
 padding: 10px;
 width: 700px;
 height: 300px;
}

.item {
    background-color: white;
    border: 8px solid dodgerblue;
    align-items: center;
    text-align: center;
    padding: 25px;
}
.a{
    grid-column: 1/ span 2;
}
.b{
    grid-row: 1/ span 2;
    grid-column: 3;
}
.e{
    grid-column: 1/ span 3;
}